.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    overflow-x: hidden;
}
.linkForm { /* stylelint-disable */
    background-color: #fff;
    padding: 25px;
    width: 320px;
    border-radius: 2px;
    pointer-events: fixed;
    margin-top: 25%;
    margin-left: 30%;
}

.heading {
    font-size: 22px;
    color: #222;
    margin-bottom: 20px;
}

.actionContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
.button {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 2;
    cursor: pointer;
    color: #00afcc;
    
}
.button:hover {
    background-color: rgba(0,0,0,0.05);
    font-weight: 700;
}
.input {
    margin-top: 10px;
    margin-bottom: 10px;
}